<!--<span>Enter new user name</span><input type="text" ng-model="newUserName"><button ng-click="submitNewUser()">Submit</button>
<div>{{temp}}</div>
<button ng-click="getUsers()">Get Users</button>-->
<h3>Attended : {{attendanceStatistics.attended}}</h3>
<!--<ul>-->
  <!--<li ng-repeat="user in users">{{user.name}} : {{user.attended}}</li>-->
<!--</ul>-->
<table class="table table-striped">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>E-Mail</th>
    <th>Attended</th>
  </tr>
  <tr ng-repeat="user in users">
    <td>{{user.userId}}</td>
    <td>{{user.name}}</td>
    <td>{{user.email}}</td>
    <td class="{{attendedClass(user.attended)}}">{{user.attended}}</td>
  </tr>
</table>
